<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href=".././assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href=".././assets/img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- CSS Files -->
        <link href=".././assets/css/material-kit.css?v=2.2.0" rel="stylesheet" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href=".././assets/demo/demo.css" rel="stylesheet" />
        <link href=".././assets/demo/vertical-nav.css" rel="stylesheet" />
    </head>
    <body>
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{{ path('home') }}">
                    ClicGame </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">games</i> Jeux
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">layers</i> Minecraft
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">games</i> Garry's Mod
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">games</i> Rust
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">games</i> Onset
                            </a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">account_box</i> Compte
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">fingerprint</i> Connexion
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">person_add</i> Inscription
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">account_box</i> Mon Espace
                            </a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">supervised_user_circle</i> Communauté
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">view_quilt</i> Forum
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">people</i> Qui sommes nous ?
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">build</i> Support
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="material-icons">call</i> Nous contacter
                            </a>
                        </div>
                    </li>

                    <li class="button-container nav-item iframe-extern">
                        <a href="https://www.creative-tim.com/product/material-kit-pro?ref=presentation" target="_blank" class="btn  btn-rose   btn-round btn-block">
                            <i class="material-icons">shopping_cart</i> Boutique
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src=".././assets/js/core/jquery.min.js" type="text/javascript"></script>
        <script src=".././assets/js/core/popper.min.js" type="text/javascript"></script>
        <script src=".././assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
        <script src=".././assets/js/plugins/moment.min.js"></script>
        <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
        <script src=".././assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src=".././assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
        <!--  Google Maps Plugin    -->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
        <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
        <script src=".././assets/js/plugins/bootstrap-tagsinput.js"></script>
        <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script src=".././assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
        <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
        <script src=".././assets/js/plugins/jasny-bootstrap.min.js" type="text/javascript"></script>
        <!--	Plugin for Small Gallery in Product Page -->
        <script src=".././assets/js/plugins/jquery.flexisel.js" type="text/javascript"></script>
        <!-- Plugins for presentation and navigation  -->
        <script src=".././assets/demo/modernizr.js" type="text/javascript"></script>
        <script src=".././assets/demo/vertical-nav.js" type="text/javascript"></script>
        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <!-- Js With initialisations For Demo Purpose, Don't Include it in Your Project -->
        <script src=".././assets/demo/demo.js" type="text/javascript"></script>
        <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
        <script src=".././assets/js/material-kit.js?v=2.2.0" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                materialKitDemo.presentationAnimations();
            });
        </script>
    </body>
</html>
