<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="{{ path('home') }}">
                ClicGame </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">games</i> Jeux
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">layers</i> Minecraft
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">games</i> Garry's Mod
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">games</i> Rust
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">games</i> Onset
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">account_box</i> Compte
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">fingerprint</i> Connexion
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">person_add</i> Inscription
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">account_box</i> Mon Espace
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">supervised_user_circle</i> Communauté
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">view_quilt</i> Forum
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">people</i> Qui sommes nous ?
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">build</i> Support
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">call</i> Nous contacter
                        </a>
                    </div>
                </li>

                <li class="button-container nav-item iframe-extern">
                    <a href="https://www.creative-tim.com/product/material-kit-pro?ref=presentation" target="_blank" class="btn  btn-rose   btn-round btn-block">
                        <i class="material-icons">shopping_cart</i> Boutique
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

